In [88]:
import numpy as np
import re
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

In [89]:
df1=pd.read_csv('train.csv')
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [90]:
missing_values = df1.isnull().sum().sort_values(ascending=False)
print(missing_values)
percentage_missing_cabin_data = df1["Cabin"].isnull().sum()/df1.shape[0]*100
percentage_missing_cabin_data                                                  #it's better not to use this column to train data

Cabin          687
Age            177
Embarked         2
Fare             0
Ticket           0
Parch            0
SibSp            0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

77.10437710437711

In [91]:
df1
df=df1[['Survived','Pclass','Sex','SibSp','Parch']]
df['Sex']=(df['Sex']=='male').astype(np.int)
df.head(6)

<ipython-input-91-737bb27fe2a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex']=(df['Sex']=='male').astype(np.int)

   Survived  Pclass  Sex  SibSp  Parch
0         0       3    1      1      0
1         1       1    0      1      0
2         1       3    0      0      0
3         1       1    0      1      0
4         0       3    1      0      0
5         0       3    1      0      0

In [92]:
X=df[['Pclass','Sex','SibSp','Parch']]
y=df['Survived']
x0=[[1,0,1,0]]

In [93]:
log_reg=LogisticRegression()
log_reg.fit(X,y)

LogisticRegression()

In [94]:
log_reg.score(X,y)

0.8002244668911336

In [95]:
# cross_val_score(log_reg, X, y, cv=3, scoring="accuracy")

array([0.7979798 , 0.81818182, 0.78114478])

In [96]:
# log_reg.predict(x0)

In [30]:
y_train_pred = cross_val_predict(log_reg, X, y, cv=3)
y_train_pred.shape

(891,)

In [33]:
confusion_matrix(y, y_train_pred)

array([[483,  66],
       [113, 229]], dtype=int64)

In [83]:
# testing for test csv
df2=pd.read_csv('test.csv')
df2.info()
df_test=df2[['Pclass','Sex','SibSp','Parch']]
df_test['Sex']=(df_test['Sex']=='male').astype(np.int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

<ipython-input-83-fa2d62dc4638>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Sex']=(df_test['Sex']=='male').astype(np.int)

In [103]:
predictions=log_reg.predict(df_test)
df2["Survived"]=predictions
output=df2[["PassengerId","Survived"]]
output
output.to_csv("output.csv",index=False)